In [12]:
#importing the dataset
import numpy as np
import pandas as pd

data = pd.read_csv(r"D:\upes\3rd year\Application of ML in Industries\Lab\UCI_Credit_Card.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [13]:
#checking for null values
data.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [14]:
#splitting the dataset

X = data.iloc[:,0:24]
y = data.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [15]:
#building the model
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier.fit(X_train, y_train)  

#prediction

y_pred= classifier.predict(X_test)  
print(y_pred)
print(y_pred.shape)

[0 0 0 ... 0 0 0]
(9000,)

In [16]:
#checking Accuracy
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
print(score)

0.8126666666666666

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid={'n_estimators': [25,30,35,40],
           'min_samples_split':[20,24,28,32,36],
           'criterion':['gini','entropy']}
model=RandomForestClassifier()
grid = GridSearchCV(model, param_grid, cv=3)

grid.fit(X_train,y_train)

grid.best_params_

In [18]:
tuned_mod= RandomForestClassifier(n_estimators=30,criterion='gini',min_samples_split=32)

In [19]:
tuned_mod.fit(X_train,y_train)
y_pred_2 = tuned_mod.predict(X_test)

In [20]:
print(y_pred_2)

[0 0 0 ... 0 0 1]

In [21]:
acc_score_2 = accuracy_score(y_test, y_pred_2)
acc_score_2

0.8214444444444444